<?php
/**
 * Created by PhpStorm.
 * User: Posibilidades2
 * Date: 06/04/2018
 * Time: 15:55
 */

class env
{
    const USUARIO_DB = 'root';
    const PASSWORD_DB = 'root';
    const HOST_DB = 'localhost';
    const DATABASE_DB = 'hospital';

}